:root {
  --main-color: #cbfe1c;
}
::selection {
  background-color: var(--main-color);
  color: black;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Chakra Petch';
  src: url('../fonts/ChakraPetch-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Chakra Petch-BoldItalic';
  src: url('../fonts/ChakraPetch-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Chakra Petch-light';
  src: url('../fonts/ChakraPetch-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Days One';
  src: url('../fonts/DaysOne-Regular.ttf') format('truetype');
}
nav {
  font-family: 'Chakra Petch-light', sans-serif;
  box-sizing: border-box;
  background-color: #0b0e13;
  z-index: 1000;
}
.color {
  color: var(--main-color);
}
nav a {
  text-decoration: none;
}
nav a:hover {
  color: var(--main-color) !important;
}
nav .sign {
  background-color: var(--main-color);
  border-radius: 10px;
}
nav form {
  display: flex;
}
nav form p {
  display: none;
}
nav .nav-link.active {
  color: var(--main-color) !important;
}

.home {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.9)), url(../image/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: 'Days One';
}
.home .container {
  margin-top: 150px;
}
.home .left h1 {
  font-size: 60px;
}
.home .left h1 span {
  color: var(--main-color);
}
.home .left p {
  color: rgba(255, 255, 255, 0.85);
  font-size: 16px;
  font-weight: 200;
  line-height: 1.7;
}
.home .left button {
  border: 2px solid var(--main-color);
  border-radius: 10px;
}
.home .left .start {
  background-color: var(--main-color);
}
.home .left .watch {
  background-color: rgb(0, 0, 0, 0.1);
  color: var(--main-color);
}
.home .left .watch:hover {
  background-color: var(--main-color);
  color: black;
}
.home .right .image {
  border-radius: 15px;
  position: relative;
}
.home .right .image img {
  border-radius: inherit;
  height: 420px;
  object-fit: cover;
}
.home .right .image::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 4px;
  background: linear-gradient(90deg, var(--main-color), #0bdf72);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}
.fa-trophy {
  color: var(--main-color);
}
.home .right .stat {
  background-color: #0b0e13;
  bottom: -20px;
  left: -20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.Games {
  background-color: #0b0e13;
  height: 100vh;
  font-family: 'Days One';
}
.title {
  font-size: 16px;
  margin-top: 100px;
}
.title::before,
.title::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 50px;
  height: 2px;
  background-color: var(--main-color);
}
.title::before {
  right: 56%;
  background: linear-gradient(
    90deg,
    rgba(0, 255, 0, 0) 0%,
    var(--main-color) 50%,
    #d4ff00 100%
  );
}

.title::after {
  left: 56%;
  background: linear-gradient(
    -90deg,
    rgba(0, 255, 0, 0) 0%,
    var(--main-color) 50%,
    #d4ff00 100%
  );
}
.Games .container h2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}
.Games .container .carousel-inner img {
  height: 300px;
  object-fit: cover;
  width: 100%;
  transition: transform 0.5s ease;
}
.Games .container .carousel-inner .image {
  width: 30%;
  border-radius: 15px;
  transition: opacity 0.5s ease;
  margin-top: 30px;
}
.Games .container .prev-button,
.Games .container .next-button {
  background-color: #0b0e13;
  color: gray;
  border: 2px solid gray;
}

.Games .container .prev-button:hover,
.Games .container .next-button:hover {
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.Games .container .view {
  color: var(--main-color);
  background-color: #0b0e13;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  margin-left: 20px;
}
.Games .container .view:hover {
  background-color: var(--main-color);
  color: #0b0e13;
}

.Games .container .carousel-inner .image {
  position: relative;
  overflow: hidden;
  font-family: 'Chakra Petch-BoldItalic';
}
.Games .image::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    var(--main-color),
    rgba(201, 254, 28, 0) 50%
  );
  opacity: 0;
  transition: 0.3s;
  border-radius: 10px;
}
.Games .image:hover::after {
  opacity: 1;
}
.Games .image:hover {
  border: 2px solid var(--main-color);
  cursor: pointer;
}
.Games .image:hover img {
  transform: scale(1.1);
}
.Games .image .content .top {
  top: 10px;
  left: 15px;
  color: #fff;
}
.Games .image .content .top p {
  background-color: #192327;
  padding: 5px;
  border-radius: 15px;
  font-size: 10px;

  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

.Games .image:hover .top p {
  transform: translateY(0);
}
.Games .image .content h3 {
  bottom: 10px;
  left: 15px;
  font-size: 14px;
  transform: translateY(50px);
  transition: transform 0.5s ease;
  z-index: 5;
}
.Games .image:hover h3 {
  transform: translateY(0);
}
.Games .content i {
  margin-right: 5px;
}

.what-we-do,
.team,
.contact,
footer {
  background-color: #0b0e13;
  height: 150vh;
  font-family: 'Days One';
}

.what-we-do h2,
.team h2,
.contact h2 {
  width: 65%;
  font-size: 48px;
  font-family: 'Days One';
  color: #fff;
  margin: auto;
}
.what-we-do h2 > span {
  font-family: 'Chakra Petch';
}
.what-we-do .cards .card {
  background-color: #1a1a1a;
  border-radius: 15px;
  height: 250px;
  font-family: 'Days One';
  color: #fff;
  width: 24%;
  border: 1px solid oklch(0.28 0.03 257.69);
}
.what-we-do .cards .icon {
  background-color: #1e2939;
  border-radius: 10px;
}
.what-we-do .cards .card-image {
  border: none;
  background-color: #1a1a1a;
  border-radius: 15px;
  height: 250px;
  font-family: 'Days One';
  color: #fff;
  width: 24%;
}
.what-we-do .cards .card-image .image {
  height: 100%;
}
.what-we-do .card-image img {
  border-radius: 20px;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card::before {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  border-top: 25px solid #c6ff00;
  border-right: 25px solid transparent;
  opacity: 0;
  transform: translate(-40px, -40px);
  transition: transform 0.6s ease;
}

.card::after {
  content: '';
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  border-bottom: 25px solid #c6ff00;
  border-left: 25px solid transparent;
  transform: translate(40px, 40px);
  transition: transform 0.6s ease;
}
.what-we-do .cards .card:hover::after,
.what-we-do .cards .card:hover::before {
  transform: translate(0);
  opacity: 1;
}

.what-we-do .cards .card:hover {
  border: 2px solid var(--main-color);
}
.what-we-do .cards .card:hover .icon {
  background-color: var(--main-color);
}
.what-we-do .cards .card:hover i {
  color: #000;
}
.ani::after {
  content: '';
  position: absolute;
  top: -40px;
  right: 20%;
  left: 20%;
  width: 50%;
  height: 3px;
  margin: auto;
  background: linear-gradient(
    -90deg,
    rgba(0, 255, 0, 0) 0%,
    var(--main-color) 50%,
    rgba(0, 255, 0, 0) 100%
  );
  box-shadow: 1px 1px 5px 1px var(--main-color);
}
.ani {
  margin-top: 80px;
}
.ani-logo {
  position: relative;
  margin: 60px;
}

.ani-logo {
  height: 300px;
  position: relative;

  background: #05070c;
  width: 120%;
  right: 150px;
}

.ani-logo::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: 400px;

  background: radial-gradient(
    ellipse at center,
    rgba(190, 255, 60, 0.9) 0%,
    rgba(190, 255, 60, 0.5) 30%,
    #0b0e13 70%
  );

  filter: blur(40px);
  z-index: 0;
}

.ani-logo .back {
  position: relative;
  z-index: 1;
}
.logos {
  height: 600px;
}
.logos .image {
  z-index: 500;
  width: 5%;
  /* top: 10px; */
}

.logos .track-left,
.logos .track-right {
  display: flex;
  gap: 40px;
  height: fit-content;
  animation: slide 12s linear infinite;
}

.logos .track-right {
  animation-direction: reverse;
}

.logos .image {
  width: 5%;
}

.logos img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 20px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.team-info {
  width: 80%;
  gap: 1%;
}
.team .images {
  display: inline-block;
  overflow: hidden;
  height: 300px;
  border-radius: 15px;
  width: 24% !important;
}
.team .image1 {
  background-image: url('../image/avatar-1.png');
  background-size: cover;
  background-position: center;
}
.team .image2 {
  background-image: url('../image/avatar-2.png');
  background-size: cover;
  background-position: center;
}
.team .image3 {
  background-image: url('../image/avatar-3.png');
  background-size: cover;
  background-position: center;
}
.team .image4 {
  background-image: url('../image/avatar-4.png');
  background-size: cover;
  background-position: center;
}
.team .image5 {
  background-image: url('../image/avatar-5.png');
  background-size: cover;
  background-position: center;
}
.team .image6 {
  background-image: url('../image/avatar-6.png');
  background-size: cover;
  background-position: center;
}
.team .image7 {
  background-image: url('../image/avatar-7.png');
  background-size: cover;
  background-position: center;
}
.team .image8 {
  background-image: url('../image/avatar-8.png');
  background-size: cover;
  background-position: center;
}

.team .images .mask {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: grayscale(100%);
  transition: transform 0.6s ease;
}

.team .images:hover .mask {
  filter: grayscale(0);
}
.team .images:hover .pro,
.team .images:hover .phantom {
  color: var(--main-color);
}
.team .info {
  bottom: 0;
  left: 5px;
  width: 100%;
}
.team .phantom {
  transform: rotate(90deg);
}
.team .champion {
  font-size: 10px;
  font-weight: 400;
}
.team .pro {
  font-size: 11px !important ;
}

.contact .left .icon {
  background-color: var(--main-color);
}
.contact .left .location,
.contact .left .phone,
.contact .left .email {
  background-color: #1e2939;
  border-radius: 15px;
}

.contact .comunity {
  background-color: var(--main-color);
  border-radius: 15px;
  background: linear-gradient(to right, var(--main-color), #1ee071);
}

.contact .left {
  text-align: left;
  padding: 0;
}
.contact .right {
  background-color: #1e2939;
  border-radius: 15px;
  margin-top: 20px;
}

.right > div {
  background: #1e2939;
  padding: 2.5rem 3rem;
  border-radius: 18px;

  border: 1px solid #1e2939;
}

.right h2 {
  color: #e5e7eb;
  font-weight: 700;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
  color: #9ca3af;
}

.contact-form input[type='text'],
.contact-form input[type='email'],
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 10px;
  border: 1px solid #364153;
  background-color: #364153;
  color: #e5e7eb;
  font-size: 0.95rem;
  outline: none;
  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.1s ease;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #848a94;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  border-color: var(--main-color);
}

.contact-form textarea {
  resize: vertical;
  min-height: 140px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.checkbox-group input[type='checkbox'] {
  width: 18px;
  height: 18px;
}

.checkbox-group label {
  color: #9ca3af;
  font-size: 0.9rem;
}

.btn-submit {
  padding: 15px;
  background-color: var(--main-color);
  border-radius: 15px;
  background: linear-gradient(to right, var(--main-color), #cbfe1c);
}
footer {
  height: fit-content;
}
footer a {
  text-decoration: none;
  color: #99a1af;
}

footer > div {
  width: 15%;
}
footer .icon i:hover {
  color: var(--main-color);
}

footer .games p:hover,
footer .tournaments p:hover,
footer .Support p:hover {
  color: var(--main-color) !important;
  cursor: pointer;
}
